extends layout

block content

  h1 Translation API
  p Welcome to the Free Translation API
  p Do a request to:
  p #{url} 
  p with the following parameters:
  p #{params}
  p and you will get the following response:
  p #{response}
  p Enjoy!

  